[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendored/cglm"]
	path = vendored/cglm
	url = https://github.com/recp/cglm.git
[submodule "vendored/nuklear"]
	path = vendored/nuklear
	url = https://github.com/vurtun/nuklear.git
