[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored/cglm"]
	path = vendored/cglm
	url = https://github.com/recp/cglm.git
